@model IEnumerable<BiblioMag.Models.Book>
<h2>No books found</h2>

<p>There are no books in the library.</p>
<p>
    <a asp-controller="Book" asp-action="AddBook" class="btn btn-primary">Добавить книгу</a>
</p>