@{
    ViewData["Title"] = "Книг не найдено";
}

<h2>Книг не найдено</h2>

<p>Нет книг в вашей библиотеке. Добавьте их</p>
<form action="~/Book/Add">
    <button type="submit" class="btn btn-primary">Добавить книгу</button>
</form>